.post{
    max-width: 500px;
    margin-bottom: 45px;
    border:1px solid lightgrey;
}
.post__image{
    object-fit: contain;
    width:100%;
}
.post__header{
    display:flex;
    align-items: center;
    padding: 20px;
}
.post__avatar{
    margin-right:10px;
}
.post__caption{
    font-weight:400;
}